@import ../../_variables.sass
    
.guest-layout
    min-height: 100vh
    width: 100vw
    display: grid
    place-items: center


.guest

    &__form
        place-self: center
        display: flex
        flex-direction: column
        padding: 3rem
        background: white
        border-radius: 10px
        width: 400px
        box-shadow: $shadow

    &__logo-group

    &__logo
        width: 5rem

    &__header
        font-weight: 900

    &__input-group

    &__button
        margin-top: 2rem

    &__message
        display: block
        border-top: 1px solid $border
        margin-top: 3rem
        padding-top: 2rem
        font-size: 1.2rem
        text-align: center

    &__link
        margin-left: 0.5rem
        cursor: pointer
        color: $accent
        
        &:hover
            text-decoration: underline