@import ../../_variables

.form
    width: 100%
    background: $background-main
    padding: 2rem 3rem

    &__control-group
        width: 100%
        display: grid
        gap: 1rem
        grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr))

    &__button-group
        margin-top: 4rem
        width: 100%
        display: flex

    &__button
