@import ../../_variables

.editable-application-page
    display: grid
    width: 100%
    min-height: 100%
    align-items: start
    justify-items: center
    padding: 3rem
    grid-template-rows: 9rem 1fr

    &__progress-bar
        width: 75%

    &__load-container
        grid-row: 2 / 3
        align-self: center
        display: grid
        gap: 2rem
        justify-items: center
        transform: translateY(-100%)

    &__load-icon
        color: $accent
        font-size: 5rem

    &__load-text
