@import ../../_variables.sass

.default-layout
    display: grid
    grid-template-columns: 25rem 1fr
    grid-template-areas: "menu main"
    width: 100vw
    height: 100vh

.main
    overflow-x: hidden
    overflow-y: auto
    grid-area: main
    display: grid
